doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
      
            
    script( src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCoGTvp76RgkJBN24HAlBh3Ym_L0vd6dHQ")
    script(src="javascripts/maps.js")
    
  body
    block content